<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Time</title>
</head>
<body>
    <h1>Hello How are you</h1>

    <!-- EJS Tags -->
    <h3> <%= 5+8 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quibusdam ipsam sed cupiditate consequatur aperiam sequi, ullam iusto repudiandae vitae cumque eum nostrum, quisquam odit eius sint facere, tempore necessitatibus.
    Animi non provident impedit sint rerum molestiae perspiciatis labore ex tenetur. Temporibus itaque ab quibusdam ad soluta veniam! Omnis magnam earum tempore in alias nulla culpa porro consequatur deleniti adipisci.
    Sit quasi, nam a, accusamus beatae ipsa aliquid commodi adipisci sequi quisquam corrupti itaque amet quis excepturi recusandae qui vitae, ex velit nostrum quae deleniti inventore temporibus illum maxime? Asperiores.
    Fuga quis soluta suscipit porro magnam error dicta libero molestiae, aliquid a hic dolorum veniam aut neque aliquam eaque excepturi incidunt. Similique eos omnis autem at veniam corrupti aut animi.
    Pariatur vero voluptates reiciendis natus iure ullam at odio ut repellendus, fugiat doloribus facere hic libero esse inventore sequi et harum? Eum nesciunt, asperiores laboriosam labore voluptatum corrupti quod ullam!
    Odit vitae, in, eveniet consectetur temporibus reiciendis inventore ipsum voluptate ipsam natus quod qui aspernatur perspiciatis dolore ducimus ut at ad, excepturi officia ullam pariatur eos. Vel ut autem in?
    Ratione voluptatibus asperiores deserunt iste sapiente, a iusto repellendus assumenda neque ea labore ut aliquid repellat officia maiores fugit. Nobis esse id harum. Sit nesciunt dolorem accusantium nemo, illo sapiente?
    Unde labore assumenda corrupti vero ratione? Provident earum voluptatibus magni ad. Ex aliquid at nobis, corporis praesentium, culpa vel numquam repudiandae hic voluptates eos quos beatae, facere quam. Sunt, placeat.
    Aliquam saepe fugit adipisci necessitatibus? Magni ab quas velit cupiditate unde reiciendis voluptatum commodi repellendus, neque id molestiae quisquam, aspernatur nesciunt eius illum modi at! Incidunt sequi expedita nam temporibus.</p>
</body>
</html>