<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolldice</title>
</head>
<body>
    <h1>Roll the dice</h1>
    <h3>The dice number is :
        <%= num %>
    </h3>
    <% if(num == 6) { %>
        <h2>Roll dice again please !</h2>
        <% } %>
</body>
</html>


    
