<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REst apis</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Quara posts</h1>
    <form action="http://localhost:8080/posts/new"">
    <button>New</button></form>
    <% for(let post of posts) { %>
        <div class=" post">
        <h3 class="user">@<%= post.username %>
        </h3>
        <h4 class="cont">
            <%= post.content %>
        </h4>
        <form action="http://localhost:8080/posts/<%=post.id%>">
            <button>See Post</button>
        </form>
        &nbsp;
        <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
            <button>Delete</button>
        </form>
        </div>
        <% } %>
</body>

</html>